@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// MIXIN
@mixin roboto {
	font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
	font-family: 'Quicksand', sans-serif;
}

// VARIABLES
$base: 4px;

$fw-light: 100;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-md: 15px;
$fs-sm: 13px;

$padding-vertical: $base * 30;
$padding-vertical-sm: $base * 15;
$padding-vertical-xs: $base * 5;

$color-white: #fff;
$color-divider: rgba(216, 227, 254, 1);
$color-gray: rgba(233, 239, 255, 1);
$color-light-gray: #F5F8FF;
$color-main-text: #8E96B7;
$color-dark-gray: #697CA6;
$color-primary: rgba(104, 136, 255, 1);
$color-blue: #3D4F9F;
$color-red: #D43F3F;
$color-red-light: #FFD7D7;
$transition: .2s;

// COMMON
html {
	scroll-behavior: smooth;
}

body {
	@include roboto;
	color: $color-main-text;
}

ul {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

.wrapper-outer {
	border-bottom: 1px $color-divider solid;
}

.wrapper-inner {
	margin: 0 auto;
	max-width: 910px;
	padding: 0px 15px;
	padding-top: $padding-vertical;
	padding-bottom: $padding-vertical;

	&--wide {
		max-width: 1200px;
	}
}

button:hover {
	cursor: pointer;
}

.btn-wrapper {
	padding: 13px 16px;
	margin-left: $base * 11;
	border-radius: 4px;
	border: none;
	transition: $transition;
}

.btn {
	text-decoration: none;
	font-weight: $fw-bold;
	font-size: $fs-sm;
	@include quicksand;
}

.btn-group {
	display: flex;

	&-wrapper {
		padding: 12px 24px;
		border-radius: 4px;
		transition: $transition;

		&:nth-child(1) {
			border-bottom-right-radius: 0px;
			border-top-right-radius: 0px;
		}

		&:nth-child(2) {
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}
}

.btn--primary {
	background-color: rgba(210, 225, 255, 1);
	position: relative;

	a {
		color: $color-primary;
	}

	a:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&:hover {
		background-color: rgb(184, 208, 255);

		a {
			color: rgb(81, 114, 233);
		}
	}
}

.btn--red {
	background-color: $color-red-light;
	position: relative;

	a {
		color: $color-red;
	}

	a:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&:hover {
		background-color: darken($color: $color-red-light, $amount: 5);

		a {
			color: darken($color: $color-red, $amount: 2);
		}
	}
}

.btn--blue {
	background-color: $color-primary;
	border: none;
	position: relative;

	a {
		color: $color-white;
	}

	a:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&:hover {
		background-color: darken($color: $color-primary, $amount: 7);

		a {
			color: darken($color: $color-white, $amount: 2);
		}
	}
}

.btn--transparent {
	background-color: $color-light-gray;
	border: 2px solid $color-dark-gray;
	position: relative;

	a {
		color: $color-dark-gray;
	}

	a:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&:hover {
		background-color: darken($color: $color-light-gray, $amount: 3);

		a {
			color: darken($color: $color-dark-gray, $amount: 2);
		}
	}
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
	font-weight: $fw-regular;
	@include quicksand();
	color: $color-blue;
}

h2 {
	font-size: 48px;
	margin-bottom: $base * 10;
	font-weight: $fw-light;

	span {
		font-weight: $fw-medium;
	}
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
	font-weight: $fw-medium;
}

h5 {
	font-size: 10px;
	@include roboto();
	margin-bottom: $base * 4;
	text-transform: uppercase;
	// font-weight: $fw-bold;
}

h6 {
	font-size: 14px;
}

.text {
	line-height: 1.8;
}

.dots {
	display: flex;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	transition: $transition;
	cursor: pointer;

	li+li {
		margin-left: $base * 3;
	}

	&__item {
		border: none;
		border-radius: 100%;
		padding: 0px;
		width: $base * 2;
		height: $base * 2;
		background-color: #D1D6E3;

		&--active {
			background-color: $color-primary;
		}

	}

	@media (max-width: 750px) {
		margin-top: 50px;

		&__item {
			height: 10px;
			width: 10px;
		}
	}
}

.line {
	display: flex;
	align-items: center;
}

.clouds {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
}

// HEADER
.section-header {
	@media (max-width: 900px) {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 5;
	}

	background-color: $color-white;

	.wrapper-inner {
		padding-top: $padding-vertical-xs;
		padding-bottom: $padding-vertical-xs;
	}

	@media (max-width: 500px) {
		.socials {
			display: none;
		}
	}
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	position: relative;

	.burger-wrapper-outer {
		width: 30px;
		height: 25px;
		background-color: transparent;
		border: none;
		z-index: 3;

		.burger-wrapper-inner {
			position: relative;
			left: -8px;
			width: 30px;
			height: 25px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			transition: 1s;

			.burger__item {
				display: block;
				width: 100%;
				height: 2.4px;
				background-color: rgb(104, 136, 255);
				transition: 1.5s;
			}
		}

		&:focus {
			.burger-wrapper-inner {
				transform: rotate(90deg);

				.burger__item {
					background-color: #ffffff;
					;
				}
			}
		}

		&:focus~.burger-wrapper {
			transform: translateX(251px);
		}

		&:focus~.nav {
			transform: translateX(250px);
		}
	}

	.burger-wrapper {
		position: fixed;
		top: 0px;
		left: -252px;
		display: block;
		height: 100%;
		width: 252px;
		background-color: rgb(104, 136, 255);
		transition-duration: 1s;
		transition-timing-function: linear;
		z-index: 2;
	}

	@media (max-width: 900px) {
		.logo {
			display: none;
		}

		.nav {
			position: fixed;
			top: 0px;
			left: -250px;
			display: flex;
			padding: 100px 0px 40px;
			margin: 0px;
			width: 250px;
			height: 300px;
			transition-duration: 1s;
			transition-timing-function: linear;
			z-index: 2;

			.nav-wrapper {
				display: flex;
				flex-direction: column;

				li {
					box-sizing: border-box;
					width: 250px;
					height: 60px;
					border-bottom: 1px #d3d5db solid;
					margin: 0;

					a {
						display: flex;
						align-items: center;
						margin-left: 15px;
						width: 230px;
						height: 100%;
						color: #ffffff;
						font-size: 16px;
					}
				}
			}
		}
	}

	@media (min-width: 901px) {
		.burger-wrapper-outer {
			display: none;
		}
	}
}

.logo {
	background-color: $color-primary;
	height: $base * 6;
	width: $base * 6;
	border-radius: 100%;
}

.nav {
	margin-left: $base * 18;
}

.nav-wrapper {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;

	&__item {
		&+& {
			margin-left: $base * 10;
		}

		&-link {
			@include quicksand;
			font-size: $fs-sm;
			color: $color-dark-gray;
			text-decoration: none;
			font-weight: $fw-medium;
			transition: $transition;

			&:hover {
				color: $color-primary;
			}

			&--active {
				font-weight: $fw-bold;
				color: $color-primary;
			}
		}
	}
}

.socials {
	margin-left: auto;
}

.socials-wrapper {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;

	&__item {
		&+& {
			margin-left: $base * 9;
		}

		&-link {
			display: flex;
			align-items: center;

			path {
				fill: #B6BAC7;
				transition: $transition;
			}

			&:hover {
				path {
					fill: $color-primary;
					transition: $transition;
				}
			}
		}
	}
}

// MAIN IMAGE
.section-main-image {
	position: relative;
	background-color: $color-light-gray;

	.dots {
		position: absolute;
		left: 50%;
		bottom: $base * 7;
		transform: translateX(-50%); // Отцентрировали по горизонтали
	}
}

.slider-main-image {
	margin: 0;
	padding: 0;
	list-style: none;

	&__item {
		height: $base * 150;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 100%;
		text-align: center;

		&-content {
			.text {

				margin: 0 auto;
			}

			@media (min-width: 821px) {
				width: 60%;
			}

			@media (max-width: 820px) and (min-width: 501px) {
				width: 80%;
			}

			@media (max-width: 500px) {
				width: 90%;
			}
		}
	}
}

.btn-icon-play {
	display: flex;
	justify-content: center;
	padding-top: 20px;

	a {
		position: relative;
		text-decoration: none;
		list-style-type: none;
		display: block;
		height: 45px;
		width: 45px;
		border-radius: 100%;
		background-color: #fff;
		box-shadow: 0 0 10px 10px #4343470b;

		&::before {
			position: absolute;
			left: 40%;
			bottom: 30%;
			content: '';
			border-style: solid;
			border-width: 8px 12px;
			border-color: #fff;
			border-left-color: rgb(81, 114, 233);
		}
	}
}

// CUSTOMERS
.section-customers {
	.wrapper-inner {
		padding-top: $padding-vertical-sm;
		padding-bottom: $padding-vertical-sm;
	}
}

.customers {
	display: flex;
	flex-wrap: wrap;
	gap: 35px;
	align-items: center;
	justify-content: space-around;
	margin: 0;

	&__item {
		list-style: none;

		a {
			display: block;
		}
	}
}

// PLAN
.section-plan {
	background-color: $color-light-gray;
	position: relative;
	overflow: hidden;

	.wrapper-inner {
		padding-top: $base * 50;
		padding-bottom: $base * 54;
	}

	.plan-description {
		width: 50%;

		&__img {
			position: absolute;
			top: 17%;
			right: 0;
			z-index: 0;
		}

		@media screen and (max-width: 1500px) {
			&__img {
				left: 50%;
			}
		}

		@media (max-width: 768px) {
			& {
				margin: 0 auto;
				width: 80%;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}

			img {
				display: none;
			}
		}

		@media (max-width: 500px) {
			& {
				margin: 0 auto;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}

			.text {
				font-size: 14px;
			}

			img {
				display: none;
			}
		}


		h3 {
			font-weight: $fw-light;
			margin-bottom: $base * 9;

			span {
				font-weight: $fw-medium;
			}
		}

		.btn-group {
			margin-top: $base * 14;
		}
	}
}

// FEATURES
.section-features {
	position: relative;
	overflow: hidden;

	.wrapper-inner {
		display: flex;
		flex-direction: column;
		align-items: center;

		.features-list {
			display: grid;
			grid-template-columns: 20fr 4fr 20fr 4fr 20fr 4fr 20fr;
			grid-template-rows: 1fr;
			gap: 10px;
			justify-content: space-between;
			margin-top: 100px;
			list-style: none;
			width: 95%;

			@media (max-width: 770px) and (min-width: 520px) {
				grid-template-columns: 20fr 6fr 20fr;
				grid-template-rows: 2fr;
				gap: 30px;
				grid-row-gap: 50px;

				.line:nth-child(4) {
					display: none;
				}
			}

			@media (max-width: 520px) {
				grid-template-columns: 20fr 3fr 20fr;
				grid-template-rows: 2fr;
				gap: 15px;
				grid-row-gap: 50px;

				.line:nth-child(4) {
					display: none;
				}
			}

			&__item {
				text-align: center;

				img {
					height: $base * 16;
					width: $base * 16;
				}

				h6 {
					color: $color-primary;
				}

				.text {
					font-size: 11px;
				}
			}

			.line {
				img {
					margin: 0 auto;
				}
			}
		}

		.btn-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style: none;
			margin: 100px auto 0px;
			min-width: 335px;
			transition: $transition;

			&__item {
				button {
					margin-left: 0;
				}

				span {
					font-size: $fs-sm;
				}
			}
		}
	}
}

// STATS
.section-stats {
	.stats {
		display: flex;
		list-style: none;

		@media (min-width: 750px) {
			&__item {
				&-left {
					margin: 60px 90px 60px auto;
				}

				&-right {
					margin: 60px auto 60px 90px;
				}

				&-left,
				&-right {
					max-width: 260px;

					img {
						height: 67px;
						width: 67px;
					}
				}

				span {
					font-size: 48px;
				}

				p {
					font-size: 18px;
					line-height: 23px;
					letter-spacing: 0.03em;
				}
			}
		}

		@media (min-width: 500px) and (max-width: 750px) {
			&__item {

				&-left,
				&-right {
					max-width: 240px;

					img {
						height: 43px;
						width: 43px;
					}
				}

				&-left {
					margin: 60px 40px 60px auto;
				}

				&-right {
					margin: 60px auto 60px 40px;
				}

				span {
					font-size: 36px;
				}

				p {
					font-size: 15px;
					line-height: 20px;
					letter-spacing: 0.02em;
				}
			}
		}

		@media (max-width: 500px) {
			&__item {

				&-left,
				&-right {
					max-width: 200px;

					img {
						height: 43px;
						width: 43px;
					}
				}

				&-left {
					margin: 60px 20px 60px auto;
				}

				&-right {
					margin: 60px auto 60px 20px;
				}

				span {
					font-size: 32px;
				}

				p {
					font-size: 14px;
					line-height: 20px;
					letter-spacing: 0.02em;
				}
			}
		}

		.left {
			background-color: $color-primary;
			flex-grow: 1;
			flex-shrink: 1;
			padding-left: 10px;
		}

		.right {
			background-color: $color-gray;
			flex-grow: 1;
			flex-shrink: 1;
			padding-right: 10px;
		}

		&__item {
			display: flex;

			&-left {
				color: $color-white;
				display: flex;
				flex-direction: column;
				// justify-content: space-between;
				align-items: end;

				p {
					text-align: end;
				}
			}

			&-right {
				color: $color-primary;
				display: flex;
				flex-direction: column;
				// justify-content: space-between;
				align-items: start;
			}

			&-left,
			&-right {

				span,
				p {
					margin-top: 20px;
					font-weight: $fw-regular;
				}
			}


		}
	}
}

// BLOG
.section-blog {
	background-color: $color-light-gray;

	.wrapper-inner--wide {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding-left: 50px;
		padding-right: 50px;

		.blog-slider {
			display: flex;
			padding: 0px;
			justify-content: space-between;
			align-items: center;
			margin-top: $base * 23;

			@media (max-width: 1200px) {
				&>img {
					display: none;
				}
			}

			@media (max-width: 750px) {
				margin-top: 50px;
			}

			.slider--active {
				display: flex;
			}

			img:hover {
				cursor: pointer;
			}

			&-section {
				display: none;
				height: 268px;
				background-color: #fff;

				@media (min-width: 1120px) {
					margin: 0px 70px;
					padding: 60px 30px;
					justify-content: space-between;

					&-content {
						width: 45%;
						text-align: start;
					}

					&__img {
						display: grid;
						grid-template-columns: 2fr 1fr;
						grid-template-rows: 1fr 1fr;
						grid-gap: 6px;
						align-items: stretch;

						&-wrapper:nth-child(1) {
							grid-area: 1 / 1 / 3 / 2;
						}

						&-wrapper:nth-child(2) {
							grid-area: 1 / 2 / 2 / 3;
						}

						&-wrapper:nth-child(3) {
							grid-area: 2 / 2 / 3 / 3;
						}
					}
				}

				@media (max-width: 1120px) and (min-width: 800px) {
					margin: 0px;
					padding: 50px 15px;
					justify-content: space-between;

					&__img {
						&-wrapper:nth-child(1) {
							height: 268px;
							width: 268px;
						}

						&-wrapper:nth-child(2),
						&-wrapper:nth-child(3) {
							display: none;
						}
					}

					&-content {
						margin-left: 30px;
						max-width: 65%;
						text-align: start;
					}
				}

				@media (max-width: 800px) {
					margin: 0px;
					padding: 50px 15px;
					justify-content: center;
					text-align: center;

					&__img {
						display: none;
					}

					&-content {
						max-width: 100%;

						.btn-group {
							margin: 0 auto;
						}
					}
				}

				@media (max-width: 550px) {
					padding: 30px 15px;

					h3 {
						font-size: 28px;
					}

					&-content {
						.text {
							margin: 20px 0px;
							max-height: 146px;
							overflow-y: hidden;
						}
					}
				}

				&__img {
					&-wrapper {
						position: relative;

						span {
							display: none;
						}

						&:hover {
							span {
								display: block;
								position: absolute;
								left: 0%;
								top: 0%;
								height: 100%;
								width: 100%;

								img {
									height: 30%;
									width: 30%;
									margin-top: 50%;
									transform: translateY(-50%);
								}
							}
						}
					}
				}

				&-content {
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.text {
						font-size: 14px;
					}

					.btn-group-wrapper {
						border: none;
					}

				}
			}
		}

		@media (min-width: 801px) {
			.dots {
				margin-top: 100px;
			}
		}

		@media (max-width: 800px) {
			.dots {
				margin-top: 50px;
			}
		}
	}
}

// QUOTES
.section-quotes {
	background-color: $color-gray;

	.wrapper-inner {
		display: flex;
		justify-content: space-between;
		text-align: center;

		@media (min-width: 831px) {
			.quotes-content {
				height: 187px;
				width: 335px;
			}
		}

		@media (max-width: 830px) {
			flex-direction: column;
			align-items: center;

			.quotes-content {
				min-height: 150px;
				width: 70%;

				h5 {
					margin-bottom: 0px;
				}
			}

			.dots {
				margin-top: 70px;
			}
		}

		@media (max-width: 520px) {
			.quotes-content {
				width: 100%;
			}
		}

		@media (max-width: 374px) {
			.quotes-content {
				h3 {
					font-size: 26px;
				}
			}
		}

		.quotes-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-bottom: 80px;

			h3 {
				font-weight: $fw-medium;
			}
		}

		.quotes-slider {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;

			@media (min-width: 501px) {
				.text {
					max-width: 425px;
					padding: 40px 65px;
				}
			}

			@media (max-width: 500px) {
				.text {
					max-width: 340px;
					padding: 40px 40px;
					font-size: 13px;
				}
			}

			.text {
				background-color: #fff;
				box-sizing: border-box;
				line-height: 24px;
			}

			.img {
				height: 62px;
				width: 62px;
				position: absolute;
				left: 0;
				right: 0;
				top: 145px;
				margin: auto;
			}
		}
	}
}

// FAQ
.section-faq {
	.wrapper-inner {
		display: flex;
		flex-direction: column;
		padding-left: $base * 20;
		padding-right: $base * 20;
		text-align: center;

		@media (max-width: 800px) {
			padding-left: 15px;
			padding-right: 15px;

			.faq {
				margin-top: 60px;

				&__item-description {
					align-items: center;

					.text {
						font-size: 13px;
						margin-left: 50px;
						max-width: 350px;
					}

					.btn--transparent {
						padding: 10px 2px;
						border-radius: 4px;
						margin-left: 20px;

						a {
							font-size: 12px;
						}
					}
				}
			}
		}

		@media (max-width: 655px) {
			.faq__item-description {
				flex-direction: column;
				align-items: start;

				.text {
					margin-left: 50px;
					max-width: 500px;
				}

				.btn--transparent {
					margin-top: 15px;
					margin-left: 50px;
				}
			}
		}

		@media (min-width: 800px) {
			.faq {
				margin-top: 100px;

				.faq__item-description {
					align-items: center;
					justify-content: space-between;

					.text {
						margin-left: 60px;
						max-width: 400px;
					}

					.btn--transparent {
						margin-left: 30px;
					}
				}
			}
		}

		.faq {
			display: flex;
			flex-direction: column;
			color: $color-main-text;
			list-style: none;

			&__item {
				display: flex;
				padding: 15px 15px;
				flex-direction: column;
				justify-content: space-between;
				border-bottom: 2px solid $color-gray;

				&-header {
					display: flex;
					align-items: center;

					.text {
						margin-left: 20px;
					}

					svg {
						transition: 0.4s;
					}
				}

				&-description {
					display: none;
				}

				&:hover {
					cursor: pointer;

					.faq__item-header {
						color: #495274;
						font-weight: $fw-medium;

						svg {
							transform: rotate(180deg);

							path {
								stroke: #495274;
							}

						}
					}

					.faq__item-description {
						display: flex;

						.text {
							margin-top: 10px;
							text-align: start;
						}

						.btn--transparent {
							padding: 10px 15px;
							border-radius: 4px;
						}
					}
				}
			}
		}
	}
}

// STARTED
.section-started {
	background-color: $color-primary;
	position: relative;
	z-index: 0;
	overflow: hidden;

	.wrapper-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		h5,
		h2,
		.text {
			color: $color-white;
		}

		.text {
			width: 85%;
		}

		.btn-group {
			margin-top: 50px;

			.btn--blue {
				border: 1px solid $color-white;
			}

			.btn--transparent {
				border: none;
			}
		}
	}
}

// NEWSLATTER
.section-newslatter {
	background-color: #fff;

	.wrapper-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (min-width: 901px) {
			.text {
				max-width: 330px;
			}

			.newslatter-form {
				input {
					padding: 5px 15px;
				}

				.btn-wrapper {
					margin-left: 14px;
				}
			}
		}

		@media (max-width: 900px) {
			flex-direction: column;

			.newslatter-content {
				align-items: center;
				margin-bottom: 40px;

				.text {
					text-align: center;
				}
			}

			.newslatter-form {
				input {
					padding: 5px 15px;
				}

				.btn-wrapper {
					margin-left: 14px;
				}
			}
		}

		@media (max-width: 500px) {
			.newslatter-form {
				flex-direction: column;
				align-items: center;

				input {
					padding: 15px 30px;
					margin-bottom: 20px;
				}

				.btn-wrapper {
					margin-left: 0px;
				}
			}
		}

		.newslatter-content {
			display: flex;
			flex-direction: column;

			h6 {
				color: $color-blue;
				font-size: 18px;
				margin: 0;
			}

			.text {
				margin-top: 18px;
			}
		}

		.newslatter-form {
			display: flex;
			height: 50px;

			input {
				border: none;
				width: 280px;
				border-radius: 4px;
				color: $color-dark-gray;
				background-color: #f4f4f8;

				&::placeholder {
					color: #a4a6ad;
				}

				&:focus {
					outline: none;
				}
			}

			.btn--blue {
				padding: 10px 30px;
				color: $color-white;
			}
		}
	}
}

// FIND
.section-find {
	background-color: $color-gray;

	.wrapper-inner {
		display: flex;
		justify-content: space-between;
		flex-direction: row;

		.content {
			display: flex;
			width: 45%;
			flex-direction: column;
			gap: 30px;

			span {
				font-weight: 500;
			}
		}

		.card {
			width: 400px;
			height: 200px;
		}
	}
}

// FOOTER
.section-footer {
	border-bottom: none;

	.wrapper-inner {
		padding-top: $padding-vertical-sm;
		padding-bottom: $padding-vertical-sm;

		.main-nav {
			.nav {
				margin-left: 0px;
			}
		}

		@media (min-width: 901px) {
			padding: 60px 40px;
		}

		@media (max-width: 900px) and (min-width: 551px) {
			padding: 60px 40px;
			display: flex;
			flex-direction: column;
			align-items: center;

			.main-nav {
				width: 100%;
			}
		}

		@media (max-width: 550px) {
			padding: 40px 15px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

.copyright {
	@include quicksand;
	color: $color-dark-gray;
	opacity: 0.5;
	font-size: $fs-sm;
	font-weight: $fw-medium;

	margin-top: 20px;

	@media (max-width: 900px) {
		margin-top: 40px;
	}
}