@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #8E96B7;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.wrapper-outer {
  border-bottom: 1px rgb(216, 227, 254) solid;
}

.wrapper-inner {
  margin: 0 auto;
  max-width: 910px;
  padding: 0px 15px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.wrapper-inner--wide {
  max-width: 1200px;
}

button:hover {
  cursor: pointer;
}

.btn-wrapper {
  padding: 13px 16px;
  margin-left: 44px;
  border-radius: 4px;
  border: none;
  transition: 0.2s;
}

.btn {
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  font-family: "Quicksand", sans-serif;
}

.btn-group {
  display: flex;
}
.btn-group-wrapper {
  padding: 12px 24px;
  border-radius: 4px;
  transition: 0.2s;
}
.btn-group-wrapper:nth-child(1) {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.btn-group-wrapper:nth-child(2) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn--primary {
  background-color: rgb(210, 225, 255);
  position: relative;
}
.btn--primary a {
  color: rgb(104, 136, 255);
}
.btn--primary a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn--primary:hover {
  background-color: rgb(184, 208, 255);
}
.btn--primary:hover a {
  color: rgb(81, 114, 233);
}

.btn--red {
  background-color: #FFD7D7;
  position: relative;
}
.btn--red a {
  color: #D43F3F;
}
.btn--red a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn--red:hover {
  background-color: #ffbebe;
}
.btn--red:hover a {
  color: #d23737;
}

.btn--blue {
  background-color: rgb(104, 136, 255);
  border: none;
  position: relative;
}
.btn--blue a {
  color: #fff;
}
.btn--blue a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn--blue:hover {
  background-color: #446cff;
}
.btn--blue:hover a {
  color: #fafafa;
}

.btn--transparent {
  background-color: #F5F8FF;
  border: 2px solid #697CA6;
  position: relative;
}
.btn--transparent a {
  color: #697CA6;
}
.btn--transparent a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn--transparent:hover {
  background-color: #e6edff;
}
.btn--transparent:hover a {
  color: #6376a2;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  color: #3D4F9F;
}

h2 {
  font-size: 48px;
  margin-bottom: 40px;
  font-weight: 100;
}
h2 span {
  font-weight: 500;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 16px;
  text-transform: uppercase;
}

h6 {
  font-size: 14px;
}

.text {
  line-height: 1.8;
}

.dots {
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  transition: 0.2s;
  cursor: pointer;
}
.dots li + li {
  margin-left: 12px;
}
.dots__item {
  border: none;
  border-radius: 100%;
  padding: 0px;
  width: 8px;
  height: 8px;
  background-color: #D1D6E3;
}
.dots__item--active {
  background-color: rgb(104, 136, 255);
}
@media (max-width: 750px) {
  .dots {
    margin-top: 50px;
  }
  .dots__item {
    height: 10px;
    width: 10px;
  }
}

.line {
  display: flex;
  align-items: center;
}

.clouds {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

.section-header {
  background-color: #fff;
}
@media (max-width: 900px) {
  .section-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
  }
}
.section-header .wrapper-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .section-header .socials {
    display: none;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  position: relative;
}
.main-nav .burger-wrapper-outer {
  width: 30px;
  height: 25px;
  background-color: transparent;
  border: none;
  z-index: 3;
}
.main-nav .burger-wrapper-outer .burger-wrapper-inner {
  position: relative;
  left: -8px;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 0.5s;
}
.main-nav .burger-wrapper-outer .burger-wrapper-inner .burger__item {
  display: block;
  width: 100%;
  height: 2.4px;
  background-color: rgb(104, 136, 255);
  transition-duration: 0.5s;
}
.main-nav .burger-wrapper-outer:focus .burger-wrapper-inner {
  transform: rotate(90deg);
}
.main-nav .burger-wrapper-outer:focus .burger-wrapper-inner .burger__item {
  background-color: #ffffff;
}
.main-nav .burger-wrapper-outer:focus ~ .burger-wrapper {
  transform: translateX(251px);
}
.main-nav .burger-wrapper-outer:focus ~ .nav {
  transform: translateX(250px);
}
.main-nav .burger-wrapper {
  position: fixed;
  top: 0px;
  left: -252px;
  display: block;
  height: 100%;
  width: 252px;
  background-color: rgb(104, 136, 255);
  transition-duration: 0.5s;
  transition-timing-function: linear;
  z-index: 2;
}
@media (max-width: 900px) {
  .main-nav .logo {
    display: none;
  }
  .main-nav .nav {
    position: fixed;
    top: 0px;
    left: -250px;
    display: flex;
    padding: 100px 0px 40px;
    margin: 0px;
    width: 250px;
    height: 300px;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    z-index: 2;
  }
  .main-nav .nav .nav-wrapper {
    display: flex;
    flex-direction: column;
  }
  .main-nav .nav .nav-wrapper li {
    box-sizing: border-box;
    width: 250px;
    height: 60px;
    border-bottom: 1px #d3d5db solid;
    margin: 0;
  }
  .main-nav .nav .nav-wrapper li a {
    display: flex;
    align-items: center;
    margin-left: 15px;
    width: 230px;
    height: 100%;
    color: #ffffff;
    font-size: 16px;
  }
}
@media (min-width: 901px) {
  .main-nav .burger-wrapper-outer {
    display: none;
  }
}

.logo {
  background-color: rgb(104, 136, 255);
  height: 24px;
  width: 24px;
  border-radius: 100%;
}

.nav {
  margin-left: 72px;
}

.nav-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 40px;
}
.nav-wrapper__item-link {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  color: #697CA6;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}
.nav-wrapper__item-link:hover {
  color: rgb(104, 136, 255);
}
.nav-wrapper__item-link--active {
  font-weight: 700;
  color: rgb(104, 136, 255);
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.socials-wrapper__item + .socials-wrapper__item {
  margin-left: 36px;
}
.socials-wrapper__item-link {
  display: flex;
  align-items: center;
}
.socials-wrapper__item-link path {
  fill: #B6BAC7;
  transition: 0.2s;
}
.socials-wrapper__item-link:hover path {
  fill: rgb(104, 136, 255);
  transition: 0.2s;
}

.section-main-image {
  position: relative;
  background-color: #F5F8FF;
}
.section-main-image .dots {
  position: absolute;
  left: 50%;
  bottom: 28px;
  transform: translateX(-50%);
}

.slider-main-image {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-main-image__item {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  text-align: center;
}
.slider-main-image__item-content .text {
  margin: 0 auto;
}
@media (min-width: 821px) {
  .slider-main-image__item-content {
    width: 60%;
  }
}
@media (max-width: 820px) and (min-width: 501px) {
  .slider-main-image__item-content {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .slider-main-image__item-content {
    width: 90%;
  }
}

.btn-icon-play {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.btn-icon-play a {
  position: relative;
  text-decoration: none;
  list-style-type: none;
  display: block;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px 10px rgba(67, 67, 71, 0.0431372549);
}
.btn-icon-play a::before {
  position: absolute;
  left: 40%;
  bottom: 30%;
  content: "";
  border-style: solid;
  border-width: 8px 12px;
  border-color: #fff;
  border-left-color: rgb(81, 114, 233);
}

.section-customers .wrapper-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}
.customers__item {
  list-style: none;
}
.customers__item a {
  display: block;
}

.section-plan {
  background-color: #F5F8FF;
  position: relative;
  overflow: hidden;
}
.section-plan .wrapper-inner {
  padding-top: 200px;
  padding-bottom: 216px;
}
.section-plan .plan-description {
  width: 50%;
}
.section-plan .plan-description__img {
  position: absolute;
  top: 17%;
  right: 0;
  z-index: 0;
}
@media screen and (max-width: 1500px) {
  .section-plan .plan-description__img {
    left: 50%;
  }
}
@media (max-width: 768px) {
  .section-plan .plan-description {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section-plan .plan-description img {
    display: none;
  }
}
@media (max-width: 500px) {
  .section-plan .plan-description {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section-plan .plan-description .text {
    font-size: 14px;
  }
  .section-plan .plan-description img {
    display: none;
  }
}
.section-plan .plan-description h3 {
  font-weight: 100;
  margin-bottom: 36px;
}
.section-plan .plan-description h3 span {
  font-weight: 500;
}
.section-plan .plan-description .btn-group {
  margin-top: 56px;
}

.section-features {
  position: relative;
  overflow: hidden;
}
.section-features .wrapper-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-features .wrapper-inner .features-list {
  display: grid;
  grid-template-columns: 20fr 4fr 20fr 4fr 20fr 4fr 20fr;
  grid-template-rows: 1fr;
  gap: 10px;
  justify-content: space-between;
  margin-top: 100px;
  list-style: none;
  width: 95%;
}
@media (max-width: 770px) and (min-width: 520px) {
  .section-features .wrapper-inner .features-list {
    grid-template-columns: 20fr 6fr 20fr;
    grid-template-rows: 2fr;
    gap: 30px;
    grid-row-gap: 50px;
  }
  .section-features .wrapper-inner .features-list .line:nth-child(4) {
    display: none;
  }
}
@media (max-width: 520px) {
  .section-features .wrapper-inner .features-list {
    grid-template-columns: 20fr 3fr 20fr;
    grid-template-rows: 2fr;
    gap: 15px;
    grid-row-gap: 50px;
  }
  .section-features .wrapper-inner .features-list .line:nth-child(4) {
    display: none;
  }
}
.section-features .wrapper-inner .features-list__item {
  text-align: center;
}
.section-features .wrapper-inner .features-list__item img {
  height: 64px;
  width: 64px;
}
.section-features .wrapper-inner .features-list__item h6 {
  color: rgb(104, 136, 255);
}
.section-features .wrapper-inner .features-list__item .text {
  font-size: 11px;
}
.section-features .wrapper-inner .features-list .line img {
  margin: 0 auto;
}
.section-features .wrapper-inner .btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 100px auto 0px;
  min-width: 335px;
  transition: 0.2s;
}
.section-features .wrapper-inner .btn-container__item button {
  margin-left: 0;
}
.section-features .wrapper-inner .btn-container__item span {
  font-size: 13px;
}

.section-stats .stats {
  display: flex;
  list-style: none;
}
@media (min-width: 750px) {
  .section-stats .stats__item-left {
    margin: 60px 90px 60px auto;
  }
  .section-stats .stats__item-right {
    margin: 60px auto 60px 90px;
  }
  .section-stats .stats__item-left, .section-stats .stats__item-right {
    max-width: 260px;
  }
  .section-stats .stats__item-left img, .section-stats .stats__item-right img {
    height: 67px;
    width: 67px;
  }
  .section-stats .stats__item span {
    font-size: 48px;
  }
  .section-stats .stats__item p {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
  }
}
@media (min-width: 500px) and (max-width: 750px) {
  .section-stats .stats__item-left, .section-stats .stats__item-right {
    max-width: 240px;
  }
  .section-stats .stats__item-left img, .section-stats .stats__item-right img {
    height: 43px;
    width: 43px;
  }
  .section-stats .stats__item-left {
    margin: 60px 40px 60px auto;
  }
  .section-stats .stats__item-right {
    margin: 60px auto 60px 40px;
  }
  .section-stats .stats__item span {
    font-size: 36px;
  }
  .section-stats .stats__item p {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
}
@media (max-width: 500px) {
  .section-stats .stats__item-left, .section-stats .stats__item-right {
    max-width: 200px;
  }
  .section-stats .stats__item-left img, .section-stats .stats__item-right img {
    height: 43px;
    width: 43px;
  }
  .section-stats .stats__item-left {
    margin: 60px 20px 60px auto;
  }
  .section-stats .stats__item-right {
    margin: 60px auto 60px 20px;
  }
  .section-stats .stats__item span {
    font-size: 32px;
  }
  .section-stats .stats__item p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
}
.section-stats .stats .left {
  background-color: rgb(104, 136, 255);
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 10px;
}
.section-stats .stats .right {
  background-color: rgb(233, 239, 255);
  flex-grow: 1;
  flex-shrink: 1;
  padding-right: 10px;
}
.section-stats .stats__item {
  display: flex;
}
.section-stats .stats__item-left {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.section-stats .stats__item-left p {
  text-align: end;
}
.section-stats .stats__item-right {
  color: rgb(104, 136, 255);
  display: flex;
  flex-direction: column;
  align-items: start;
}
.section-stats .stats__item-left span,
.section-stats .stats__item-left p, .section-stats .stats__item-right span,
.section-stats .stats__item-right p {
  margin-top: 20px;
  font-weight: 400;
}

.section-blog {
  background-color: #F5F8FF;
}
.section-blog .wrapper-inner--wide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.section-blog .wrapper-inner--wide .blog-slider {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
}
@media (max-width: 1200px) {
  .section-blog .wrapper-inner--wide .blog-slider > img {
    display: none;
  }
}
@media (max-width: 750px) {
  .section-blog .wrapper-inner--wide .blog-slider {
    margin-top: 50px;
  }
}
.section-blog .wrapper-inner--wide .blog-slider .slider--active {
  display: flex;
}
.section-blog .wrapper-inner--wide .blog-slider img {
  transition: 1s;
  z-index: 2;
}
.section-blog .wrapper-inner--wide .blog-slider img:hover {
  cursor: pointer;
}
.section-blog .wrapper-inner--wide .blog-slider-section {
  display: none;
  height: 268px;
  background-color: #fff;
}
.section-blog .wrapper-inner--wide .blog-slider-section__img-wrapper:hover {
  z-index: 15;
}
.section-blog .wrapper-inner--wide .blog-slider-section__img-wrapper:hover img {
  transform: scale(1.2);
}
@media (min-width: 1120px) {
  .section-blog .wrapper-inner--wide .blog-slider-section {
    margin: 0px 70px;
    padding: 60px 30px;
    justify-content: space-between;
  }
  .section-blog .wrapper-inner--wide .blog-slider-section-content {
    width: 45%;
    text-align: start;
  }
  .section-blog .wrapper-inner--wide .blog-slider-section__img {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 6px;
    align-items: stretch;
  }
  .section-blog .wrapper-inner--wide .blog-slider-section__img-wrapper:nth-child(1) {
    grid-area: 1/1/3/2;
  }
  .section-blog .wrapper-inner--wide .blog-slider-section__img-wrapper:nth-child(2) {
    grid-area: 1/2/2/3;
  }
  .section-blog .wrapper-inner--wide .blog-slider-section__img-wrapper:nth-child(3) {
    grid-area: 2/2/3/3;
  }
}
@media (max-width: 1120px) and (min-width: 800px) {
  .section-blog .wrapper-inner--wide .blog-slider-section {
    margin: 0px;
    padding: 50px 15px;
    justify-content: space-between;
  }
  .section-blog .wrapper-inner--wide .blog-slider-section__img-wrapper:nth-child(1) {
    height: 268px;
    width: 268px;
  }
  .section-blog .wrapper-inner--wide .blog-slider-section__img-wrapper:nth-child(2), .section-blog .wrapper-inner--wide .blog-slider-section__img-wrapper:nth-child(3) {
    display: none;
  }
  .section-blog .wrapper-inner--wide .blog-slider-section-content {
    margin-left: 30px;
    max-width: 65%;
    text-align: start;
  }
}
@media (max-width: 800px) {
  .section-blog .wrapper-inner--wide .blog-slider-section {
    margin: 0px;
    padding: 50px 15px;
    justify-content: center;
    text-align: center;
  }
  .section-blog .wrapper-inner--wide .blog-slider-section__img {
    display: none;
  }
  .section-blog .wrapper-inner--wide .blog-slider-section-content {
    max-width: 100%;
  }
  .section-blog .wrapper-inner--wide .blog-slider-section-content .btn-group {
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .section-blog .wrapper-inner--wide .blog-slider-section {
    padding: 30px 15px;
  }
  .section-blog .wrapper-inner--wide .blog-slider-section h3 {
    font-size: 28px;
  }
  .section-blog .wrapper-inner--wide .blog-slider-section-content .text {
    margin: 20px 0px;
    max-height: 146px;
    overflow-y: hidden;
  }
}
.section-blog .wrapper-inner--wide .blog-slider-section__img-wrapper {
  position: relative;
}
.section-blog .wrapper-inner--wide .blog-slider-section__img-wrapper span {
  display: none;
}
.section-blog .wrapper-inner--wide .blog-slider-section__img-wrapper:hover span {
  display: block;
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}
.section-blog .wrapper-inner--wide .blog-slider-section__img-wrapper:hover span img {
  height: 30%;
  width: 30%;
  margin-top: 50%;
  transform: translateY(-50%);
}
.section-blog .wrapper-inner--wide .blog-slider-section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-blog .wrapper-inner--wide .blog-slider-section-content .text {
  font-size: 14px;
}
.section-blog .wrapper-inner--wide .blog-slider-section-content .btn-group-wrapper {
  border: none;
}
@media (min-width: 801px) {
  .section-blog .wrapper-inner--wide .dots {
    margin-top: 100px;
  }
}
@media (max-width: 800px) {
  .section-blog .wrapper-inner--wide .dots {
    margin-top: 50px;
  }
}

.section-quotes {
  background-color: rgb(233, 239, 255);
}
.section-quotes .wrapper-inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (min-width: 831px) {
  .section-quotes .wrapper-inner .quotes-content {
    height: 187px;
    width: 335px;
  }
}
@media (max-width: 830px) {
  .section-quotes .wrapper-inner {
    flex-direction: column;
    align-items: center;
  }
  .section-quotes .wrapper-inner .quotes-content {
    min-height: 150px;
    width: 70%;
  }
  .section-quotes .wrapper-inner .quotes-content h5 {
    margin-bottom: 0px;
  }
  .section-quotes .wrapper-inner .dots {
    margin-top: 70px;
  }
}
@media (max-width: 520px) {
  .section-quotes .wrapper-inner .quotes-content {
    width: 100%;
  }
}
@media (max-width: 374px) {
  .section-quotes .wrapper-inner .quotes-content h3 {
    font-size: 26px;
  }
}
.section-quotes .wrapper-inner .quotes-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 80px;
}
.section-quotes .wrapper-inner .quotes-content h3 {
  font-weight: 500;
}
.section-quotes .wrapper-inner .quotes-slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 501px) {
  .section-quotes .wrapper-inner .quotes-slider .text {
    max-width: 425px;
    padding: 40px 65px;
  }
}
@media (max-width: 500px) {
  .section-quotes .wrapper-inner .quotes-slider .text {
    max-width: 340px;
    padding: 40px 40px;
    font-size: 13px;
  }
}
.section-quotes .wrapper-inner .quotes-slider .text {
  background-color: #fff;
  box-sizing: border-box;
  line-height: 24px;
}
.section-quotes .wrapper-inner .quotes-slider .img {
  height: 62px;
  width: 62px;
  position: absolute;
  left: 0;
  right: 0;
  top: 145px;
  margin: auto;
}

.section-faq .wrapper-inner {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
}
@media (max-width: 800px) {
  .section-faq .wrapper-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-faq .wrapper-inner .faq {
    margin-top: 60px;
  }
  .section-faq .wrapper-inner .faq__item-description {
    align-items: center;
  }
  .section-faq .wrapper-inner .faq__item-description .text {
    font-size: 13px;
    margin-left: 50px;
    max-width: 350px;
  }
  .section-faq .wrapper-inner .faq__item-description .btn--transparent {
    padding: 10px 2px;
    border-radius: 4px;
    margin-left: 20px;
  }
  .section-faq .wrapper-inner .faq__item-description .btn--transparent a {
    font-size: 12px;
  }
}
@media (max-width: 655px) {
  .section-faq .wrapper-inner .faq__item-description {
    flex-direction: column;
    align-items: start;
  }
  .section-faq .wrapper-inner .faq__item-description .text {
    margin-left: 50px;
    max-width: 500px;
  }
  .section-faq .wrapper-inner .faq__item-description .btn--transparent {
    margin-top: 15px;
    margin-left: 50px;
  }
}
@media (min-width: 800px) {
  .section-faq .wrapper-inner .faq {
    margin-top: 100px;
  }
  .section-faq .wrapper-inner .faq .faq__item-description {
    align-items: center;
    justify-content: space-between;
  }
  .section-faq .wrapper-inner .faq .faq__item-description .text {
    margin-left: 60px;
    max-width: 400px;
  }
  .section-faq .wrapper-inner .faq .faq__item-description .btn--transparent {
    margin-left: 30px;
  }
}
.section-faq .wrapper-inner .faq {
  display: flex;
  flex-direction: column;
  color: #8E96B7;
  list-style: none;
}
.section-faq .wrapper-inner .faq__item {
  display: flex;
  padding: 15px 15px;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid rgb(233, 239, 255);
}
.section-faq .wrapper-inner .faq__item-header {
  display: flex;
  align-items: center;
}
.section-faq .wrapper-inner .faq__item-header .text {
  margin-left: 20px;
}
.section-faq .wrapper-inner .faq__item-header svg {
  transition: 0.4s;
}
.section-faq .wrapper-inner .faq__item-description {
  display: none;
}
.section-faq .wrapper-inner .faq__item:hover {
  cursor: pointer;
}
.section-faq .wrapper-inner .faq__item:hover .faq__item-header {
  color: #495274;
  font-weight: 500;
}
.section-faq .wrapper-inner .faq__item:hover .faq__item-header svg {
  transform: rotate(180deg);
}
.section-faq .wrapper-inner .faq__item:hover .faq__item-header svg path {
  stroke: #495274;
}
.section-faq .wrapper-inner .faq__item:hover .faq__item-description {
  display: flex;
}
.section-faq .wrapper-inner .faq__item:hover .faq__item-description .text {
  margin-top: 10px;
  text-align: start;
}
.section-faq .wrapper-inner .faq__item:hover .faq__item-description .btn--transparent {
  padding: 10px 15px;
  border-radius: 4px;
}

.section-started {
  background-color: rgb(104, 136, 255);
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.section-started .wrapper-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-started .wrapper-inner h5,
.section-started .wrapper-inner h2,
.section-started .wrapper-inner .text {
  color: #fff;
}
.section-started .wrapper-inner .text {
  width: 85%;
}
.section-started .wrapper-inner .btn-group {
  margin-top: 50px;
}
.section-started .wrapper-inner .btn-group .btn--blue {
  border: 1px solid #fff;
}
.section-started .wrapper-inner .btn-group .btn--transparent {
  border: none;
}

.section-newslatter {
  background-color: #fff;
}
.section-newslatter .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 901px) {
  .section-newslatter .wrapper-inner .text {
    max-width: 330px;
  }
  .section-newslatter .wrapper-inner .newslatter-form input {
    padding: 5px 15px;
  }
  .section-newslatter .wrapper-inner .newslatter-form .btn-wrapper {
    margin-left: 14px;
  }
}
@media (max-width: 900px) {
  .section-newslatter .wrapper-inner {
    flex-direction: column;
  }
  .section-newslatter .wrapper-inner .newslatter-content {
    align-items: center;
    margin-bottom: 40px;
  }
  .section-newslatter .wrapper-inner .newslatter-content .text {
    text-align: center;
  }
  .section-newslatter .wrapper-inner .newslatter-form input {
    padding: 5px 15px;
  }
  .section-newslatter .wrapper-inner .newslatter-form .btn-wrapper {
    margin-left: 14px;
  }
}
@media (max-width: 500px) {
  .section-newslatter .wrapper-inner .newslatter-form {
    flex-direction: column;
    align-items: center;
  }
  .section-newslatter .wrapper-inner .newslatter-form input {
    padding: 15px 30px;
    margin-bottom: 20px;
  }
  .section-newslatter .wrapper-inner .newslatter-form .btn-wrapper {
    margin-left: 0px;
  }
}
.section-newslatter .wrapper-inner .newslatter-content {
  display: flex;
  flex-direction: column;
}
.section-newslatter .wrapper-inner .newslatter-content h6 {
  color: #3D4F9F;
  font-size: 18px;
  margin: 0;
}
.section-newslatter .wrapper-inner .newslatter-content .text {
  margin-top: 18px;
}
.section-newslatter .wrapper-inner .newslatter-form {
  display: flex;
  height: 50px;
  position: relative;
}
.section-newslatter .wrapper-inner .newslatter-form input {
  width: 280px;
  border-radius: 4px;
  border: 2px #ffffff solid;
  color: #737477;
  background-color: #f4f4f8;
}
.section-newslatter .wrapper-inner .newslatter-form input::placeholder {
  color: #babbc1;
}
.section-newslatter .wrapper-inner .newslatter-form input:focus {
  outline: none;
  border: 2px #e8e6e6 solid;
}
.section-newslatter .wrapper-inner .newslatter-form p {
  display: none;
  position: absolute;
  left: 2px;
  bottom: -25px;
  color: #da7171;
  font-size: 13px;
}
.section-newslatter .wrapper-inner .newslatter-form input:invalid:not(:focus):not(:placeholder-shown) {
  background-color: #fae5e5;
  border: 2px #f49dac solid;
}
.section-newslatter .wrapper-inner .newslatter-form input:invalid:not(:focus):not(:placeholder-shown) + p {
  display: block;
}
.section-newslatter .wrapper-inner .newslatter-form .btn--blue {
  padding: 10px 30px;
  color: #fff;
}

.section-find {
  background-color: rgb(233, 239, 255);
}
.section-find .wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 850px) {
  .section-find .wrapper-inner {
    padding: 30px 60px;
  }
  .section-find .wrapper-inner .content {
    width: 45%;
    margin-right: 20px;
  }
  .section-find .wrapper-inner .card {
    width: 500px;
    height: 300px;
  }
}
@media (max-width: 849px) and (min-width: 650px) {
  .section-find .wrapper-inner {
    padding: 30px 40px;
  }
  .section-find .wrapper-inner .content {
    width: 60%;
    margin-right: 20px;
  }
  .section-find .wrapper-inner .content h3 {
    font-size: 30px;
  }
  .section-find .wrapper-inner .content .text {
    font-size: 13px;
  }
  .section-find .wrapper-inner .card {
    width: 350px;
    height: 200px;
  }
}
@media (max-width: 650px) {
  .section-find .wrapper-inner {
    padding: 60px 20px 0px;
    flex-direction: column;
    text-align: center;
  }
  .section-find .wrapper-inner .content {
    width: 100%;
  }
  .section-find .wrapper-inner .content h3 {
    font-size: 30px;
  }
  .section-find .wrapper-inner .content .text {
    font-size: 13px;
  }
  .section-find .wrapper-inner .card {
    width: 400px;
    height: 200px;
  }
}
.section-find .wrapper-inner .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
.section-find .wrapper-inner .content span {
  font-weight: 500;
}

.section-footer {
  border-bottom: none;
}
.section-footer .wrapper-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-footer .wrapper-inner .main-nav .nav {
  margin-left: 0px;
}
@media (min-width: 901px) {
  .section-footer .wrapper-inner {
    padding: 60px 40px;
  }
}
@media (max-width: 900px) and (min-width: 551px) {
  .section-footer .wrapper-inner {
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-footer .wrapper-inner .main-nav {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .section-footer .wrapper-inner {
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.copyright {
  font-family: "Quicksand", sans-serif;
  color: #697CA6;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 500;
  margin-top: 20px;
}
@media (max-width: 900px) {
  .copyright {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
