@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// MIXIN
@mixin roboto {
	font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
	font-family: 'Quicksand', sans-serif;
}

// VARIABLES
$base: 4px;

$fw-light: 100;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-md: 15px;
$fs-sm: 13px;

$padding-vertical: $base * 30;
$padding-vertical-sm: $base * 15;
$padding-vertical-xs: $base * 5;

$color-white: #fff;
$color-divider: rgba(216, 227, 254, 1);
$color-gray: rgba(233, 239, 255, 1);
$color-light-gray: #F5F8FF;
$color-main-text: #8E96B7;
$color-dark-gray: #697CA6;
$color-primary: rgba(104, 136, 255, 1);
$color-blue: #3D4F9F;
$color-red: #D43F3F;
$color-red-light: #FFD7D7;
$transition: .2s;

// COMMON
body {
	@include roboto;
	color: $color-main-text;
}

ul {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

.wrapper-outer {
	border-bottom: 1px $color-divider solid;
}

.wrapper-inner {
	margin: 0 auto;
	max-width: 900px;
	padding-top: $padding-vertical;
	padding-bottom: $padding-vertical;

	&--wide {
		max-width: 1200px;
	}
}

.btn-wrapper {
	padding: 13px 16px;
	margin-left: $base * 11;
	border-radius: 4px;
	border: none;
	transition: $transition;
}

.btn {
	text-decoration: none;
	font-weight: $fw-bold;
	font-size: $fs-sm;
	@include quicksand;
}

.btn-group {
	display: flex;

	&-wrapper {
		padding: 12px 24px;
		border-radius: 4px;
		transition: $transition;

		&:nth-child(1) {
			border-bottom-right-radius: 0px;
			border-top-right-radius: 0px;
		}

		&:nth-child(2) {
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}
}

.btn--primary {
	background-color: rgba(210, 225, 255, 1);

	a {
		color: $color-primary;
	}

	&:hover {
		background-color: rgb(184, 208, 255);

		a {
			color: rgb(81, 114, 233);
		}
	}
}

.btn--red {
	background-color: $color-red-light;

	a {
		color: $color-red;
	}

	&:hover {
		background-color: darken($color: $color-red-light, $amount: 5);

		a {
			color: darken($color: $color-red, $amount: 2);
		}
	}
}

.btn--blue {
	background-color: $color-primary;
	border: none;

	a {
		color: $color-white;
	}

	&:hover {
		background-color: darken($color: $color-primary, $amount: 7);

		a {
			color: darken($color: $color-white, $amount: 2);
		}
	}
}

.btn--transparent {
	background-color: $color-light-gray;
	border: 2px solid $color-dark-gray;

	a {
		color: $color-dark-gray;
	}

	&:hover {
		background-color: darken($color: $color-light-gray, $amount: 3);

		a {
			color: darken($color: $color-dark-gray, $amount: 2);
		}
	}
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
	font-weight: $fw-regular;
	@include quicksand();
	color: $color-blue;
}

h2 {
	font-size: 48px;
	margin-bottom: $base * 10;
	font-weight: $fw-light;

	span {
		font-weight: $fw-medium;
	}
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
	font-weight: $fw-medium;
}

h5 {
	font-size: 10px;
	@include roboto();
	margin-bottom: $base * 4;
	text-transform: uppercase;
	// font-weight: $fw-bold;
}

h6 {
	font-size: 14px;
}

.text {
	line-height: 1.8;
}

.dots {
	display: flex;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	transition: $transition;
	cursor: pointer;

	&__item {
		width: $base * 2;
		height: $base * 2;
		border-radius: 100%;
		background-color: #D1D6E3;

		&--active {
			background-color: $color-primary;
		}

		&+& {
			margin-left: $base * 3;
		}
	}
}

.line {
	display: flex;
	align-items: center;
}

// HEADER
.section-header {
	.wrapper-inner {
		padding-top: $padding-vertical-xs;
		padding-bottom: $padding-vertical-xs;
	}
}

.main-nav {
	display: flex;
	align-items: center;
}

.logo {
	background-color: $color-primary;
	height: $base * 6;
	width: $base * 6;
	border-radius: 100%;
}

.nav {
	margin-left: $base * 18;
}

.nav-wrapper {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;

	&__item {
		&+& {
			margin-left: $base * 10;
		}

		&-link {
			@include quicksand;
			font-size: $fs-sm;
			color: $color-dark-gray;
			text-decoration: none;
			font-weight: $fw-medium;
			transition: $transition;

			&:hover {
				color: $color-primary;
			}

			&--active {
				font-weight: $fw-bold;
				color: $color-primary;
			}
		}
	}
}

.socials {
	margin-left: auto;
}

.socials-wrapper {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;

	&__item {
		&+& {
			margin-left: $base * 9;
		}

		&-link {
			display: flex;
			align-items: center;

			path {
				fill: #B6BAC7;
				transition: $transition;
			}

			&:hover {
				path {
					fill: $color-primary;
					transition: $transition;
				}
			}
		}
	}
}

// MAIN IMAGE
.section-main-image {
	position: relative;
	background-color: $color-light-gray;

	.dots {
		position: absolute;
		left: 50%;
		bottom: $base * 7;
		transform: translateX(-50%); // Отцентрировали по горизонтали
	}
}

.slider-main-image {
	margin: 0;
	padding: 0;
	list-style: none;

	&__item {
		height: $base * 150;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 100%;
		text-align: center;

		&-content {
			.text {
				width: 60%;
				margin: 0 auto;
			}
		}
	}
}

.btn-icon-play {
	display: flex;
	justify-content: center;
	padding-top: 20px;

	a {
		position: relative;
		text-decoration: none;
		list-style-type: none;
		display: block;
		height: 45px;
		width: 45px;
		border-radius: 100%;
		background-color: #fff;
		box-shadow: 0 0 10px 10px #4343470b;

		&::before {
			position: absolute;
			left: 40%;
			bottom: 30%;
			content: '';
			border-style: solid;
			border-width: 8px 12px;
			border-color: #fff;
			border-left-color: rgb(81, 114, 233);
		}
	}
}

// CUSTOMERS
.section-customers {
	.wrapper-inner {
		padding-top: $padding-vertical-sm;
		padding-bottom: $padding-vertical-sm;
	}
}

.customers {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;

	&__item {
		list-style: none;

		a {
			display: block;
		}
	}
}

// PLAN
.section-plan {
	background-color: $color-light-gray;
	position: relative;
	overflow: hidden;

	.wrapper-inner {
		padding-top: $base * 50;
		padding-bottom: $base * 54;
	}

	.plan-description {
		width: 50%;

		&__img {
			position: absolute;
			top: 17%;
			right: 0;
			z-index: 0;
		}

		@media screen and (max-width: 1500px) {
			&__img {
				left: 50%;
			}
		}


		h3 {
			font-weight: $fw-light;
			margin-bottom: $base * 9;

			span {
				font-weight: $fw-medium;
			}
		}

		.btn-group {
			margin-top: $base * 14;
		}
	}
}

// FEATURES
.section-features {
	position: relative;

	.clouds {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		z-index: -1;
	}

	.wrapper-inner {
		display: flex;
		flex-direction: column;
		align-items: center;

		.features-list {
			display: flex;
			justify-content: space-between;
			margin-top: 100px;
			list-style: none;
			width: 85%;

			&__item {
				max-width: 140px;
				text-align: center;

				img {
					height: $base * 16;
					width: $base * 16;
				}

				h6 {
					color: $color-primary;
				}

				.text {
					font-size: 11px;
				}
			}
		}

		.btn-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style: none;
			margin: 100px auto 0px;
			width: 37%;
			transition: $transition;

			&__item {
				button {
					margin-left: 0;
				}

				span {
					font-size: $fs-sm;
				}
			}
		}
	}
}

// STATS
.section-stats {
	.stats {
		display: flex;
		list-style: none;
		height: $base * 85;

		.left {
			background-color: $color-primary;
			flex-grow: 1;
			flex-shrink: 1;
		}

		.right {
			background-color: $color-gray;
			flex-grow: 1;
			flex-shrink: 1;
		}

		&__item {
			display: flex;

			&-left {
				color: $color-white;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: end;
				margin: 60px 90px 60px auto;
				width: 260px;

				p {
					text-align: end;
				}
			}

			&-right {
				color: $color-primary;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: start;
				margin: 60px auto 60px 90px;
				width: 260px;
			}

			span {
				font-size: 48px;
				font-weight: $fw-regular;
			}

			p {
				font-size: 18px;
				font-weight: $fw-regular;
				line-height: 23px;
				letter-spacing: 0.03em;
			}
		}
	}
}

// BLOG
.section-blog {
	background-color: $color-light-gray;

	.wrapper-inner--wide {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		.blog-slider {
			display: flex;
			padding: 0px 24px;
			justify-content: space-between;
			align-items: center;
			margin-top: $base * 23;

			&-section {
				display: flex;
				padding: 60px 30px;
				justify-content: space-between;
				background-color: #fff;

				&__img {
					display: grid;
					grid-template-columns: 2fr 1fr;
					grid-template-rows: 1fr 1fr;
					grid-gap: 10px;
					align-items: stretch;

					&-wrapper:nth-child(1) {
						grid-area: 1 / 1 / 3 / 2;
					}

					&-wrapper:nth-child(2) {
						grid-area: 1 / 2 / 2 / 3;
					}

					&-wrapper:nth-child(3) {
						grid-area: 2 / 2 / 3 / 3;
					}

					&-wrapper {
						position: relative;

						span {
							display: none;
						}

						&:hover {
							span {
								display: block;
								position: absolute;
								left: 0%;
								top: 0%;
								height: 100%;
								width: 100%;

								img {
									height: 30%;
									width: 30%;
									margin-top: 50%;
									transform: translateY(-50%);
								}
							}
						}
					}
				}

				&-content {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					text-align: start;
					width: $base * 100;
					margin-left: $base * 16;

					.text {
						font-size: 14px;
					}

					.btn-group-wrapper {
						border: none;

					}

				}
			}
		}

		.dots {
			margin-top: $base * 25;
		}
	}
}

// QUOTES

.section-quotes {
	background-color: $color-gray;

	.wrapper-inner {
		display: flex;
		justify-content: space-between;

		.quotes-content {
			display: flex;
			flex-direction: column;
			height: 187px;
			width: 335px;
			justify-content: space-between;
			padding-bottom: 80px;

			h3 {
				font-weight: $fw-medium;
			}
		}

		.quotes-slider {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;

			.text {
				width: 425px;
				padding: 40px 65px;
				background-color: #fff;
				box-sizing: border-box;
				line-height: 24px;
			}

			.img {
				height: 62px;
				width: 62px;
				position: absolute;
				left: 0;
				right: 0;
				top: 145px;
				margin: auto;
			}
		}
	}
}

// FAQ
.section-faq {
	.wrapper-inner {
		display: flex;
		flex-direction: column;
		padding-left: $base * 20;
		padding-right: $base * 20;
		text-align: center;

		.faq {
			display: flex;
			flex-direction: column;
			margin-top: $base * 25;
			color: $color-main-text;
			list-style: none;

			&__item {
				display: flex;
				padding: 15px 15px;
				flex-direction: column;
				justify-content: space-between;
				border-bottom: 2px solid $color-gray;

				&-header {
					display: flex;
					align-items: center;

					.text {
						margin-left: 20px;

					}

					svg {
						transition: 0.4s;
					}
				}

				&-description {
					display: none;
				}

				&:hover {
					cursor: pointer;

					.faq__item-header {
						color: #495274;
						font-weight: $fw-medium;

						svg {
							transform: rotate(180deg);

							path {
								stroke: #495274;
							}

						}
					}

					.faq__item-description {
						display: flex;
						justify-content: space-between;
						align-items: center;

						.text {
							margin-top: 10px;
							margin-left: 60px;
							max-width: 400px;
							text-align: start;
						}

						.btn--transparent {
							padding: 10px 15px;
							border-radius: 4px;
						}
					}
				}
			}
		}
	}
}

// STARTED
.section-started {
	background-color: $color-primary;
}

// NEWSLATTER
.section-newslatter {
	background-color: $color-gray;
}

// FOOTER
.section-footer {
	border-bottom: none;

	.wrapper-inner {
		padding-top: $padding-vertical-sm;
		padding-bottom: $padding-vertical-sm;
	}
}

.copyright {
	@include quicksand;
	color: $color-dark-gray;
	opacity: 0.5;
	font-size: $fs-sm;
	font-weight: $fw-medium;

	margin-top: $base * 5;
	margin-left: $base * 24;
}